body {
    background-color: lightgrey;
}
*h {
    font-family: 'Anton', sans-serif;
}

.rounded-circle1 {
    background: #EB9D3A;
    border-radius: 100%;
    border: 10px solid white;
    color: white;
    height: 200px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    width: 100%;
    display: table;
    margin: 20px auto;
    line-height: 200px;
}
.rounded-circle2 {
    background: #E6563B;
    border-radius: 100%;
    border: 10px solid white;
    color: white;
    height: 200px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    width: 100%;
    display: table;
    margin: 20px auto;
    line-height: 200px;
}

.rounded-circle3 {
    background: #7CB06C;
    border-radius: 100%;
    border: 10px solid white;
    color: white;
    height: 200px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    width: 100%;
    display: table;
    margin: 20px auto;
    line-height: 200px;
}
.rounded-circle4 {
    background: #00ABA9;
    border-radius: 100%;
    border: 10px solid white;
    color: white;
    height: 200px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    width: 100%;
    display: table;
    margin: 20px auto;
    line-height: 200px;
}
.rounded-circle p {
    vertical-align: middle;
    display: table-cell;
}
.glyphicon.glyphicon-one-fine-dot {
    margin-bottom: -.8em;
    overflow: hidden;
}
.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 3em;
}
.icon {
    max-width: 18px;
    max-height: 18px;

}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
.sidebar {
grid-area: sidebar;}



/* Xtra-Small Screens */
@media (min-width: 450px) {


}


/* Small Screens */
@media (min-width: 576px) {

}

/* Medium Screens */
@media (min-width: 768px) {

}




/* Large Screens */
@media (min-width: 992px) {


}

/* Extra Large devices*/
@media (min-width: 1200px){

}